﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="master_Page.master.cs" Inherits="Jig_Checker_Problem_Data_Base.master_Page" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=10" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Problem Database</title>
    <link rel="shortcut icon" href="Content/ProblemDatabase.png" />
    <!-- Bootstrap -->
    <link href="Content/css/main.css" rel="stylesheet" />
    <link href="Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
      <link href="Content/toastr.css" rel="stylesheet" />
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <style>
            .swal-modal {
            background-color: #343a40;
            border: 3px solid white;
            color: #ff0000;
        }
    </style>
</head>
<body class="app sidebar-mini rtl">
    <form id="form1">
        <!-- Navbar-->
        <header class="app-header">
            <a class="app-header__logo" href="#">Probleam Database</a>
            <!-- Sidebar toggle button-->
            <a class="app-sidebar__toggle" href="#" data-toggle="sidebar" aria-label="Hide Sidebar"></a>
            <!-- Navbar Right Menu-->
            <ul class="app-nav">
                <li class="app-search">
                    <input class="app-search__input" type="search" placeholder="Search" />
                    <button class="app-search__button"><i class="fa fa-search"></i></button>
                </li>
                <!-- User Menu-->
                <li class="dropdown"><a class="app-nav__item" href="#" data-toggle="dropdown" aria-label="Open Profile Menu"><i class="fa fa-user fa-lg"></i></a>
                    <ul class="dropdown-menu settings-menu dropdown-menu-right">                     
                        <li><a class="dropdown-item" href="problem_userProfile.aspx"><i class="fa fa-user fa-lg"></i>Profile</a></li>
                        <li><a class="dropdown-item"  onclick="logout()"><i class="fa fa-sign-out fa-lg"></i>Logout</a></li>
                    </ul>
                </li>
            </ul>
        </header>
        <!-- Sidebar menu-->
        <div class="app-sidebar__overlay" data-toggle="sidebar"></div>
        <aside class="app-sidebar">
            <div class="app-sidebar__user">
                <div id="userIMG"></div>
                <div>
                    <p class="app-sidebar__user-name" id="nameUserMaster">John Doe</p>
                    <p class="app-sidebar__user-designation" id="brandUserMaster">Frontend Developer</p>
                </div>
            </div>
            <ul class="app-menu">
                <li><a class="app-menu__item" href="problemDatabaseBorad.aspx" id="borad"><i class="app-menu__icon fa fa-dashboard"></i><span class="app-menu__label">Dashboard</span></a></li>
                <%--<li><a class="app-menu__item" href="problem_CoverSheet.aspx" ><i class="app-menu__icon fa fa-laptop"></i><span class="app-menu__label">Cover Sheet</span></a></li>--%>
                <li class="treeview"><a class="app-menu__item" href="#" id="coverSheetMenu" data-toggle="treeview"><i class="app-menu__icon fa fa-edit"></i><span class="app-menu__label">Cover Sheet Menu</span><i class="treeview-indicator fa fa-angle-right"></i></a>
                    <ul class="treeview-menu">
                        <li><a class="treeview-item" href="problem_CoverSheet.aspx" id="coverSheet"><i class="icon fa fa-circle-o"></i>Cover Sheet.</a></li>
                        <li><a class="treeview-item" href="problem_AddCoverSheet.aspx"  id="addCoverSheet"><i class="icon fa fa-circle-o"></i>Create Problem Database.</a></li>                        
                    </ul>
                </li>
                <li><a class="app-menu__item" href="problem_CheckCoverSheet.aspx" id="checkData"><i class="app-menu__icon fa fa-file-excel-o"></i><span class="app-menu__label" id="alertNotification">Check Problem Sheet List</span></a></li>
                <li><a class="app-menu__item" href="problem_RejectCoverSheet.aspx" id="checkDataReject"><i class="app-menu__icon fa fa-file-excel-o"></i><span class="app-menu__label" id="alertNotificationReject">Reject Problem Sheet List</span></a></li>
                <li><a class="app-menu__item" href="problem_CloseCoverSheet.aspx" id="checkDataClose"><i class="app-menu__icon fa fa-file-excel-o"></i><span class="app-menu__label" id="alertNotificationClose">Close Problem By M1</span></a></li>
                <li><a class="app-menu__item" href="problem_MasterData.aspx" id="masterData"><i class="app-menu__icon fa fa-database"></i><span class="app-menu__label">Master Data</span></a></li>
            </ul>
        </aside>
        <main class="app-content">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
        </main>      
    </form>
  
    <script src="Content/js/jquery-3.2.1.min.js"></script>
    <script src="Content/js/popper.min.js"></script>
    <script src="Scripts/toastr.js"></script>
    <script src="Content/js/bootstrap.min.js"></script> 
    <script src="Content/js/main.js"></script>
    <script src="Content/js/plugins/sweetalert.min.js"></script>
    <script src="Content/js/plugins/bootstrap-datepicker.min.js"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="Content/js/plugins/pace.min.js"></script>
    <!-- Page specific javascripts-->
    <script type="text/javascript" src="Content/js/plugins/chart.js"></script>
    <script src="Content/numeral.min.js"></script>
    <link href="Content/JsGrid/jsgrid-theme.css" rel="stylesheet" />
    <link href="Content/JsGrid/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="Content/JsGrid/jsgrid.css" rel="stylesheet" />
    <link href="Content/JsGrid/jsgrid.min.css" rel="stylesheet" />
     <!-- Data table plugin-->
    <script src="Content/JsGrid/jsgrid.js"></script>
    <script src="Content/JsGrid/jsgrid.min.js"></script>

    <%--getSession Data--%>
    <script>
        $(document).ready(function () {
            var EMP_NO = sessionStorage.getItem("SetEMP_NO");
            var EMP_NAME = sessionStorage.getItem("SetEMP_NAME");
            var EMP_LASTNAME = sessionStorage.getItem("SetEMP_LASTNAME");
            var POLICE = sessionStorage.getItem("SetPOSITION_ID");
            var DEPTS = sessionStorage.getItem("SetDEPTS");
            var PITURE = sessionStorage.getItem("SetPITURE");
            var PITURE_OLD = sessionStorage.getItem("SetLinkDitinationPiture");
            var j3Count = sessionStorage.getItem("Set_countJ3");
            var RejectCount = sessionStorage.getItem("Set_countReject");
            var date = sessionStorage.getItem("Set_dateDrip");
            if (POLICE == null || POLICE != "ADMIN") {
                document.getElementById("masterData").style.display = "None";
                if(POLICE == "J2" || POLICE == "J1"){
                    document.getElementById("checkData").style.display = "None";
                    document.getElementById("checkDataClose").style.display = "None";
                }else if(POLICE == "J3" || POLICE == "J4"){
                    document.getElementById("checkDataReject").style.display = "None";
                    document.getElementById("checkDataClose").style.display = "None";
                } else if (POLICE == "M1") {
                
                }
            } else if (POLICE == "ADMIN") {
                document.getElementById("checkData").style.display = "None";
                document.getElementById("checkDataReject").style.display = "None";
                document.getElementById("checkDataClose").style.display = "None";
            }    
            $("#nameUserMaster").html("<p class='app-sidebar__user-name'>" + EMP_NAME + " " + EMP_LASTNAME + "</p>");
            $("#brandUserMaster").html("<p class='app-sidebar__user-designation'>" + POLICE + "</p>");
            $("#userIMG").html("<img class='app-sidebar__user-avatar' src='" + PITURE + "' height='48' width='48' alt='User Image' />");
            if (j3Count == "0") {
                if (RejectCount != "0") {
                    $("#alertNotificationReject").html("Reject Problem Sheet" + "<span class='badge badge-light'>" + RejectCount + "</span>");
                }
            } else{
                $("#alertNotification").html("Check Problem Sheet"+"<span class='badge badge-light'>" + j3Count + "</span>");
               }
           
        });
        function logout() {            
                swal({
                    title: "",
                    text: "<span style='color:#FFFFFF'>Do you went to logout ?<span>",
                    customClass: 'swal-modal',
                    showCancelButton: true,
                    html: true,
                    confirmButtonClass: "btn-danger",
                    confirmButtonText: "OK",
                    cancelButtonText: "Cancel",
                    closeOnConfirm: false,
                    closeOnCancel: true
                },
                function (isConfirm) {
                    if (isConfirm) {
                        sessionStorage.clear();
                        window.location.href = "login.aspx";
                        return true;
                    }
                });          
        }
    </script>
   </body>
</html>
